# Goals of this assignment

* Demonstrate that you can access specific rows, columns, and entries of a data frame
* Demonstrate that you can iterate through a list (a particular row or column, or a set of rows or columns)
* Demonstrate filtering pattern using if-then-else
* Demonstrate that you can reconstruct an accumulator pattern


* Understand how indentation is used in python to indicate logical and functional blocks (and compare to how this is done in other languages)
* Understand that there is an underlying state (set of values of variables, execution flowpoint, functions and objects in memory) that is not necessarily *displayed* during execution, but that understanding what is "in there" will help in constructing valid code that achieves the objectives
* Understand that there is a difference between code that doesn't produce errors and code that does the job intended

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../data/State_MedianRentalPrice_3Bedroom.csv', index_col='RegionName')

In [13]:
print(df.columns)
months = df.columns[1:]
print(months)

Index(['SizeRank', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10',
       ...
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10'],
      dtype='object', length=106)
Index(['2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07',
       '2010-08', '2010-09', '2010-10', '2010-11',
       ...
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10'],
      dtype='object', length=105)

# How many entries are missing?

In [14]:
for state in df.index:
    #print(state, '\t', sum(pd.isna(df.loc[state][months])))
    print('{:22}{:2d}'.format(state, sum(pd.isna(df.loc[state][months]))))

California             1
Texas                  0
New York              54
Florida                1
Illinois               0
Pennsylvania           0
Ohio                   1
Michigan              21
Georgia                0
North Carolina         0
New Jersey            22
Virginia               0
Washington             0
Massachusetts         12
Indiana                1
Arizona                2
Tennessee              0
Missouri               2
Maryland              12
Wisconsin             23
Minnesota             19
Colorado               4
Alabama                2
South Carolina        12
Louisiana              5
Kentucky               7
Oregon                 2
Oklahoma              13
Connecticut            1
Iowa                  18
Mississippi           12
Arkansas               5
Kansas                11
Utah                  11
Nevada                 0
New Mexico            14
West Virginia          3
Nebraska              12
Idaho                 11
Hawaii                 8
Maine                 23
New Hampshire          0
Rhode Island          19
Montana               17
Delaware               5
South Dakota          53
Alaska                12
North Dakota          63
District of Columbia  40
Wyoming               53

In [28]:
len(months)

105

# a lot

More than half of the entries are missing for some of the states, and most of the states have some missing entries, so we're going to have do something different from what we did in project 3, where we just dumped the data from the one state that had any missing entries.  We're going to have to ignore just the the ones that are missing, which means that the number of data values will be different for every state

# Task 1

Demonstrate that you can access specific rows, columns, and entries of a data frame

In separate cells, print:

 1. Every entry for the state of Wyoming
 2. Every entry for the month of March, 2014
 3. The entry for New York in March of 2014
 4. The entry for Rhode Island in May of 2012

In [31]:
print(df.loc['Wyoming'])

SizeRank      50.0
2010-02        NaN
2010-03        NaN
2010-04        NaN
2010-05        NaN
2010-06        NaN
2010-07        NaN
2010-08        NaN
2010-09        NaN
2010-10        NaN
2010-11        NaN
2010-12        NaN
2011-01        NaN
2011-02        NaN
2011-03        NaN
2011-04        NaN
2011-05        NaN
2011-06        NaN
2011-07        NaN
2011-08        NaN
2011-09        NaN
2011-10        NaN
2011-11        NaN
2011-12        NaN
2012-01        NaN
2012-02        NaN
2012-03        NaN
2012-04        NaN
2012-05        NaN
2012-06        NaN
             ...
2016-05     1050.0
2016-06     1050.0
2016-07     1050.0
2016-08     1080.0
2016-09     1000.0
2016-10      997.5
2016-11     1050.0
2016-12      950.0
2017-01     1050.0
2017-02     1025.0
2017-03     1095.0
2017-04     1050.0
2017-05     1100.0
2017-06     1100.0
2017-07     1105.0
2017-08     1100.0
2017-09     1100.0
2017-10     1000.0
2017-11     1000.0
2017-12     1000.0
2018-01     1000.0
2018-02     1000.0
2018-03     1000.0
2018-04     1000.0
2018-05     1025.0
2018-06     1000.0
2018-07     1000.0
2018-08     1000.0
2018-09     1000.0
2018-10     1050.0
Name: Wyoming, Length: 106, dtype: float64

In [32]:
print(df['2014-03'])

RegionName
California              1800.0
Texas                   1269.0
New York                   NaN
Florida                 1505.0
Illinois                1595.0
Pennsylvania            1250.0
Ohio                     900.0
Michigan                1000.0
Georgia                  999.0
North Carolina          1000.0
New Jersey              1850.0
Virginia                1450.0
Washington              1395.0
Massachusetts           2600.0
Indiana                  950.0
Arizona                 1000.0
Tennessee                985.0
Missouri                 895.0
Maryland                1629.0
Wisconsin               1050.0
Minnesota               1395.0
Colorado                1395.0
Alabama                  825.0
South Carolina          1100.0
Louisiana               1097.5
Kentucky                 919.0
Oregon                  1250.0
Oklahoma                1017.5
Connecticut             1625.0
Iowa                     975.0
Mississippi              900.0
Arkansas                 835.0
Kansas                  1000.0
Utah                    1100.0
Nevada                  1150.0
New Mexico              1095.0
West Virginia           1000.0
Nebraska                1095.0
Idaho                    950.0
Hawaii                  2100.0
Maine                   1000.0
New Hampshire           1495.0
Rhode Island            1500.0
Montana                 1000.0
Delaware                1200.0
South Dakota               NaN
Alaska                  1500.0
North Dakota               NaN
District of Columbia    2750.0
Wyoming                    NaN
Name: 2014-03, dtype: float64

In [33]:
print(df.loc['New York']['2014-03'])

nan

In [30]:
print(df.loc['Rhode Island']['2012-05'])

1600.0

# Task 2

Demonstrate that you can iterate through a list (a particular row or column, or a set of rows or columns)

 1. Make a for loop that accesses every entry for Arizona and prints it out

In [34]:
for month in months:
    print(df.loc['Arizona'][month])

nan
nan
1197.5
1150.0
1250.0
1200.0
1200.0
1196.5
1100.0
1100.0
1095.0
997.0
995.0
995.0
1000.0
1000.0
995.0
995.0
1022.5
1025.0
1000.0
999.0
995.0
1000.0
1025.0
1055.0
1094.0
1063.5
1095.0
1045.0
1025.0
1075.0
1060.0
1060.0
1055.0
1060.0
1066.5
1075.0
1075.0
1090.0
1075.0
1095.0
1050.0
1050.0
1000.0
1025.0
1050.0
1000.0
1000.0
1000.0
1025.0
1100.0
1095.0
1095.0
1075.0
1050.0
1050.0
1029.0
1050.0
1050.0
1099.0
1100.0
1150.0
1130.0
1117.0
1150.0
1140.0
1119.0
1107.0
1150.0
1200.0
1195.0
1175.0
1182.5
1200.0
1200.0
1195.0
1175.0
1195.0
1175.0
1100.0
1150.0
1100.0
1182.0
1200.0
1241.0
1294.0
1295.0
1275.0
1289.0
1275.0
1262.0
1250.0
1250.0
1245.5
1265.0
1300.0
1328.5
1368.0
1395.0
1395.0
1400.0
1399.0
1364.0
1400.0

# Task 3

Demonstrate filtering pattern using if-then-else

 1. Make a for loop that accesses every entry for California.
 2. If the entry is "nan" it should print "Missing"
 3. If the value is a number AND it is greater than $2000 it should print "Expensive"
 4. Otherwise, it should print "Less than 2000"

In [16]:
for month in months:
    entry = df.loc['California'][month]
    if pd.isna(entry):
        print(month, "Missing")
    elif entry > 2000:
        print(month, "Expensive")
    else:
        print(month, "Less than 2000")

2010-02 Missing
2010-03 Expensive
2010-04 Expensive
2010-05 Expensive
2010-06 Expensive
2010-07 Expensive
2010-08 Expensive
2010-09 Expensive
2010-10 Expensive
2010-11 Expensive
2010-12 Expensive
2011-01 Less than 2000
2011-02 Expensive
2011-03 Expensive
2011-04 Expensive
2011-05 Expensive
2011-06 Less than 2000
2011-07 Less than 2000
2011-08 Less than 2000
2011-09 Less than 2000
2011-10 Less than 2000
2011-11 Less than 2000
2011-12 Less than 2000
2012-01 Less than 2000
2012-02 Less than 2000
2012-03 Less than 2000
2012-04 Less than 2000
2012-05 Less than 2000
2012-06 Less than 2000
2012-07 Less than 2000
2012-08 Less than 2000
2012-09 Less than 2000
2012-10 Less than 2000
2012-11 Less than 2000
2012-12 Less than 2000
2013-01 Less than 2000
2013-02 Less than 2000
2013-03 Less than 2000
2013-04 Less than 2000
2013-05 Less than 2000
2013-06 Less than 2000
2013-07 Less than 2000
2013-08 Less than 2000
2013-09 Less than 2000
2013-10 Less than 2000
2013-11 Less than 2000
2013-12 Less than 2000
2014-01 Less than 2000
2014-02 Less than 2000
2014-03 Less than 2000
2014-04 Less than 2000
2014-05 Less than 2000
2014-06 Less than 2000
2014-07 Less than 2000
2014-08 Less than 2000
2014-09 Less than 2000
2014-10 Less than 2000
2014-11 Expensive
2014-12 Expensive
2015-01 Expensive
2015-02 Expensive
2015-03 Expensive
2015-04 Expensive
2015-05 Expensive
2015-06 Expensive
2015-07 Expensive
2015-08 Expensive
2015-09 Expensive
2015-10 Expensive
2015-11 Expensive
2015-12 Expensive
2016-01 Expensive
2016-02 Expensive
2016-03 Expensive
2016-04 Expensive
2016-05 Expensive
2016-06 Expensive
2016-07 Expensive
2016-08 Expensive
2016-09 Expensive
2016-10 Expensive
2016-11 Expensive
2016-12 Expensive
2017-01 Expensive
2017-02 Expensive
2017-03 Expensive
2017-04 Expensive
2017-05 Expensive
2017-06 Expensive
2017-07 Expensive
2017-08 Expensive
2017-09 Expensive
2017-10 Expensive
2017-11 Expensive
2017-12 Expensive
2018-01 Expensive
2018-02 Expensive
2018-03 Expensive
2018-04 Expensive
2018-05 Expensive
2018-06 Expensive
2018-07 Expensive
2018-08 Expensive
2018-09 Expensive
2018-10 Expensive

# Task 4

Demonstrate filtering pattern using if-then-else

   1. Make a for loop that accesses every state during the month of October 2010
   2. If the entry is "nan" it should print "Missing"
   3. If the value is a number AND it is greater than $2000 it should print "Expensive"
   4. Otherwise, it should print "Less than 2000"

In [17]:
for state in df.index:
    entry = df.loc[state]['2010-10']
    if pd.isna(entry):
        print('{:22}{:10}'.format(state, "Missing"))
    elif entry > 2000:
        print('{:22}{:10}'.format(state, "Expensive"))
    else:
        print('{:22}{:10}'.format(state, "Less than 2000"))

California            Expensive
Texas                 Less than 2000
New York              Missing
Florida               Less than 2000
Illinois              Less than 2000
Pennsylvania          Less than 2000
Ohio                  Less than 2000
Michigan              Missing
Georgia               Less than 2000
North Carolina        Less than 2000
New Jersey            Missing
Virginia              Less than 2000
Washington            Less than 2000
Massachusetts         Missing
Indiana               Less than 2000
Arizona               Less than 2000
Tennessee             Less than 2000
Missouri              Less than 2000
Maryland              Missing
Wisconsin             Missing
Minnesota             Missing
Colorado              Less than 2000
Alabama               Less than 2000
South Carolina        Missing
Louisiana             Less than 2000
Kentucky              Less than 2000
Oregon                Less than 2000
Oklahoma              Missing
Connecticut           Less than 2000
Iowa                  Missing
Mississippi           Missing
Arkansas              Less than 2000
Kansas                Missing
Utah                  Missing
Nevada                Less than 2000
New Mexico            Missing
West Virginia         Less than 2000
Nebraska              Missing
Idaho                 Missing
Hawaii                Expensive
Maine                 Missing
New Hampshire         Less than 2000
Rhode Island          Missing
Montana               Missing
Delaware              Less than 2000
South Dakota          Missing
Alaska                Missing
North Dakota          Missing
District of Columbia  Missing
Wyoming               Missing

# Task 5

Demonstrate that you can reconstruct an accumulator pattern

 1. Compute the average national price during the month of October 2010, but you should ignore states that don't have data
 2. So construct an accumulator pattern that initializes three holder variables to hold the running total of prices, a second to hold the running count of valid data points, and a third to hold the running count of invalid data points
 3. Compute and output the average price as well as the number of valid and invalid data points

In [18]:
month = '2012-09'

total_price = 0
valid_data = 0
invalid_data = 0

for state in df.index:
    new_price = df.loc[state][month]
    if pd.isna(new_price):
        invalid_data = invalid_data + 1
    else:
        valid_data = valid_data + 1
        total_price = total_price + new_price

print(month, total_price/valid_data, valid_data, invalid_data, len(df.index))

2012-09 1249.6 45 5 50

# Task 6 -- Functions

The bit of code above works for getting information about a particular month, but it's a little inconvenient to use it to get information about every month, so we're going to reuse that work in a way that allows us to repeatedly call on that capability

In [38]:
def monthly_avg(df, month):
    total_price = 0
    valid_data = 0
    invalid_data = 0

    for state in df.index:
        new_price = df.loc[state][month]
        if pd.isna(new_price):
            invalid_data = invalid_data + 1
        else:
            valid_data = valid_data + 1
            total_price = total_price + new_price

    print('{:8}{:06.2f} {:2} {:2} {:2}'.format(month, 
                round(total_price/valid_data, 2), 
                valid_data, invalid_data, len(df.index)))

In [39]:
monthly_avg(df, '2012-09')

2012-09 1249.60 45  5 50

In [40]:
for month in months:
    monthly_avg(df, month)

2010-02 1248.25 10 40 50
2010-03 1375.67 15 35 50
2010-04 1344.08 19 31 50
2010-05 1327.12 20 30 50
2010-06 1341.07 21 29 50
2010-07 1307.40 24 26 50
2010-08 1298.23 24 26 50
2010-09 1248.96 25 25 50
2010-10 1293.46 26 24 50
2010-11 1290.00 26 24 50
2010-12 1292.92 26 24 50
2011-01 1207.10 29 21 50
2011-02 1221.09 35 15 50
2011-03 1234.93 36 14 50
2011-04 1270.66 37 13 50
2011-05 1283.88 37 13 50
2011-06 1268.92 37 13 50
2011-07 1252.57 38 12 50
2011-08 1223.91 39 11 50
2011-09 1226.54 41  9 50
2011-10 1210.50 41  9 50
2011-11 1192.31 42  8 50
2011-12 1222.30 43  7 50
2012-01 1216.34 45  5 50
2012-02 1234.89 45  5 50
2012-03 1254.49 45  5 50
2012-04 1258.21 45  5 50
2012-05 1258.41 45  5 50
2012-06 1266.06 45  5 50
2012-07 1258.06 45  5 50
2012-08 1255.23 45  5 50
2012-09 1249.60 45  5 50
2012-10 1243.07 45  5 50
2012-11 1244.20 45  5 50
2012-12 1223.30 45  5 50
2013-01 1218.29 45  5 50
2013-02 1245.80 45  5 50
2013-03 1265.90 45  5 50
2013-04 1277.39 45  5 50
2013-05 1287.12 45  5 50
2013-06 1307.37 46  4 50
2013-07 1311.09 46  4 50
2013-08 1302.58 46  4 50
2013-09 1311.66 46  4 50
2013-10 1310.72 46  4 50
2013-11 1291.25 46  4 50
2013-12 1306.97 46  4 50
2014-01 1291.30 46  4 50
2014-02 1275.45 46  4 50
2014-03 1269.37 46  4 50
2014-04 1283.80 46  4 50
2014-05 1361.39 46  4 50
2014-06 1369.47 46  4 50
2014-07 1359.56 48  2 50
2014-08 1382.43 49  1 50
2014-09 1374.62 49  1 50
2014-10 1370.56 49  1 50
2014-11 1367.38 49  1 50
2014-12 1359.67 49  1 50
2015-01 1369.14 49  1 50
2015-02 1378.58 49  1 50
2015-03 1402.15 49  1 50
2015-04 1428.29 49  1 50
2015-05 1442.20 50  0 50
2015-06 1443.99 50  0 50
2015-07 1450.86 50  0 50
2015-08 1440.39 50  0 50
2015-09 1428.99 50  0 50
2015-10 1418.74 50  0 50
2015-11 1415.40 50  0 50
2015-12 1410.48 50  0 50
2016-01 1426.75 50  0 50
2016-02 1437.28 50  0 50
2016-03 1458.35 50  0 50
2016-04 1467.90 50  0 50
2016-05 1476.58 50  0 50
2016-06 1479.02 50  0 50
2016-07 1481.45 50  0 50
2016-08 1458.71 50  0 50
2016-09 1448.86 50  0 50
2016-10 1437.37 50  0 50
2016-11 1436.14 50  0 50
2016-12 1411.06 50  0 50
2017-01 1445.25 50  0 50
2017-02 1459.16 50  0 50
2017-03 1485.34 50  0 50
2017-04 1515.24 50  0 50
2017-05 1532.48 50  0 50
2017-06 1534.20 50  0 50
2017-07 1536.67 50  0 50
2017-08 1518.65 50  0 50
2017-09 1505.64 50  0 50
2017-10 1493.12 50  0 50
2017-11 1485.19 50  0 50
2017-12 1486.45 50  0 50
2018-01 1494.46 50  0 50
2018-02 1508.23 50  0 50
2018-03 1536.66 50  0 50
2018-04 1560.37 50  0 50
2018-05 1573.98 50  0 50
2018-06 1581.64 50  0 50
2018-07 1581.27 50  0 50
2018-08 1570.04 50  0 50
2018-09 1557.11 50  0 50
2018-10 1552.74 50  0 50